h3{
	color:#347ab5;
}
.bord_header{
	padding-bottom: 100px;
	margin-top: 300px;
}
.this_board{
	margin-left: 50px;
	float:left;
}
.board_button{
	width: 120px;
	height: 80px;
	font-size: 20px;
	background-color:#347ab5;
	color:white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.board_title{
	height: 80px;
	text-align:center;
	float:left;
	margin-left: 50px;
	
}
.board_all{clear: left;}

.label_title {
    display: block;
    text-align: center;
    line-height: 35px;
  	
  	width: 120px;
    /* width: 70px; */
    height:35px;
    float: left;
    clear:both;
    border-radius:8px;
    background-color: #b2dffc;
    margin-right: 10px;
    margin-bottom: 10px;
}

.label_file {
    display: block;
    text-align: center;
    line-height: 35px;
  	
  	width: 120px;
    /* width: 70px; */
    height:35px;
    float: left;
    clear:both;
    border-radius:8px;
    background-color: #b2dffc;
    margin-right: 10px;
    margin-bottom: 10px;
}

.label_content {
    display: block;
    text-align: center;
    line-height: 300px;
  	
  	width: 120px;
    /* width: 70px; */
    height:300px;
    float:left;
    clear : both;
    
    border-radius:8px;
    background-color: #b2dffc;
    margin-right: 10px;
}
.input_title{
	width: 600px;
	height: 30px;
	border-radius:8px;
	float: left;
	
}


.board_all{
	
	margin-left: 50px;
}

.button_file{
	width: 60px;
	height: 27px;
	line-height:27px;
	font-size: 18px;
	float: left;
	background-color: #ea4335;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	
	
}
#button_image{
	margin-right: 10px;
	cursor: pointer;
	
}
.div_file{
	
}
.div_btn{
	/* width: 688px; */
	width: 738px;
	height: 50px;
	
}
.input_button{
	width: 50px;
	height: 30px;
	font-size: 16px;
	margin-top: 10px;
	background-color: #fbbc05;
	border: none;
	border-radius: 5px;
	color: white;
}

#login_btn1{
	float: right;
	margin-left: 10px;
	cursor: pointer;
}
#login_btn2{
	float: right;
	cursor: pointer;
}

.input_content{
	font-size: 20px;
	font-weight: bold;
	color:#347ab5; 
}
.label_Configuration{
	display: block;
    text-align: center;
    line-height: 35px;
  	
  	width: 120px;
    /* width: 70px; */
    height:35px;
    float: left;
    clear:both;
    border-radius:8px;
    background-color: #b2dffc;
    margin-right: 10px;
    margin-bottom: 10px;
}
select{
	float: left;
	height: 30px;
	border-radius:8px;
	background-color: #f8f8f8;
	cursor: pointer;
}

#category{
	margin-right: 10px;
}
#good{
	margin-right: 10px;
}
#test_button{
	width: 60px;
	height: 27px;
	line-height:27px;
	font-size: 18px;
	float: left;
	background-color: #ea4335;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}
#file { display:none; } 


/* ----------------------------------------------------------------------------------------- */

/* 본문내용 */

#div_all{
	margin-left: 50px;
	
}
#div_title{
		width: 1000px;
		height: 40px;
		line-height: 40px;
}
#div_id{
	margin-top: 10px;
}
#div_regdate{
		float: left;
		margin-top: 10px;
	
}
#div_seq{
		margin-top: 10px;
		margin-left:15px;
		float: left;
}
#div_cnt{
		margin-top: 10px;
		margin-left:15px;
		float: left;
}
#div_config{
	width:1000px;
	height: auto;
}
#div_team{
	width:40px;
	height:30px;
	color:white;
	border: none;
	border-radius:5px;
	background-color:#347ab5;
	clear: both;
	float:left;
	text-align: center;
	margin-top: 10px;
}
#div_person{
	width:75px;
	height:30px;
	color:white;
	border: none;
	border-radius:5px;
	background-color:#347ab5;
	float:left;
	text-align: center;
	margin-left: 10px;
	margin-top: 10px;
}
#div_local{
	width:70px;
	height:30px;
	color:white;
	border: none;
	border-radius:5px;
	background-color:#347ab5;
	float:left;
	text-align: center;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#button_matching{
	width: 90px;
	height: 30px;
	border: none;
	border-radius:5px;
	font-size:15px;
	background-color: orange;
	text-align:center;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	cursor: pointer;
}
#button_update{
	width: 60px;
	height: 30px;
	border: none;
	border-radius:5px;
	font-size:15px;
	background-color: #eff0f2;
	text-align:center;
	
	margin-top: 10px;
	float: right;
	cursor: pointer;
}
#button_delete{
	width: 60px;
	height: 30px;
	border: none;
	border-radius:5px;
	font-size:15px;
	color:black;
	
	background-color: #eff0f2;
	text-align:center;
	margin-left:10px;
	margin-top: 10px;
	float: right;
	cursor: pointer;
	
}
a { text-decoration:none } 

#div_content{
	
	width:1000px;
	/* height:600px; */
	overflow:hidden;
	height:auto;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	clear:both;
	
	
	
}
#content_in{
	margin-top: 15px;
	
}
#div_list_home{ 
	width: 1000px;
	height:50px;
	
}
#button_insert{
	width: 60px;
	height: 30px;
	border: none;
	border-radius:5px;
	font-size:15px;
	background-color:aqua;
	text-align:center;
	
	margin-top: 10px;
	float: left;
	cursor: pointer;
}
#button_list{
	width: 60px;
	height: 30px;
	border: none;
	border-radius:5px;
	font-size:15px;
	background-color: #eff0f2;
	text-align:center;
	margin-left:10px;
	margin-top: 10px;
	float: right;
	cursor: pointer;
}
#button_home{
	width: 60px;
	height: 30px;
	border: none;
	border-radius:5px;
	font-size:15px;
	background-color: #eff0f2;
	text-align:center;
	
	margin-top: 10px;
	float: right;
	cursor: pointer;
}


#textarea_reple{
	width: 1000px;
	height:150px; 
	float:left;
	border-radius:5px;
	margin-top: 15px;
	border: 1px solid gray;
}
#div_reple{
	width: 1000px;
	height: 50px;	
	margin-bottom: 30px;
}
#button_reple{
	width: 75px;
	height: 30px;
	border: none;
	border-radius:5px;
	font-size:15px;
	background-color: #eff0f2;
	text-align:center;
	
	margin-top: 10px;
	float: right;
	cursor: pointer;
}


footer{
	width:1000px;
	height:100px;
	
	margin-left: 100px;
	color: blue;
	text-align:center;
	clear: both;
	float: left;
}
