#STing{
   font-size: 65px;
   font-family: cursive;
   text-align: center;
   color:#347ab5;
}
#logid{
	font-size: 25px;
	font-weight:bold;
	margin-top: -10px;
}
p,h1{text-align: center;}
a { text-decoration:none } 
#logprofile{
	border: none;
	border-radius: 50px;
	cursor: pointer;
}


.div_info{
	width: 400px;
	height: 35px;
	text-align:center;
	line-height:40px;
	border: none;
	border-radius:5px;
	background-color: #eff0f2;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	
}

.div_culomn{
	width: 100px;
	height: 35px;
	text-align:center;
	line-height:40px;
	border: none;
	border-radius:5px;
	background-color: #b2dffc;
	margin-top: 10px;
	float: left;
	clear: both;
	
}

#div_all{
	width:510px;
	height:510px;
	margin-left: auto;
	margin-right: auto;
	/* background-image: url("../image/join_running.jpg"); */
	border-radius: 5px;
}
#div_all2{
	width:510px;
	height:410px;

	margin:auto;
}
#button_update{
	width: 60px;
	height: 30px; 
	background-color: #eff0f2;
	float: right; 
	margin-left: 10px;
	border:none;
	border-radius:5px;
	cursor: pointer;
}
.button_out{
	width: 80px;
	height: 30px;
	text-align:center;
	line-height:30px; 
	font-size:15px;
	color:black;
	border:none;
	border-radius:5px;
	background-color: #eff0f2;
	float: right; 
	margin-left: 10px;
}
#admin_update{
	width: 60px;
	height: 30px; 
	background-color: #eff0f2;
	float: right; 
	margin-left: 10px;
	border:none;
	border-radius:5px;
	cursor: pointer;
}

#div_button{
	width: 510px;
	height: 40px;
	margin:auto;
	
	
}