/* html{
	background-color: gray;
} */

body{ 
	min-width: 800px;
}
#loginf:hover {
	cursor: pointer;
}

#bjoinf:hover{
	cursor: pointer;
}
#homelogo {
	width: 200px;
	height: 200px;
}
.loginText {
	font-size: 12px;
}

#topsearch {
   width:1200px;
   height:250px;
   margin: 0 auto;
}



.topsearch {
   margin-top: 100px;
}

#topnavbar {
   clear: both;
   width: 100%;
   height:40px;
   line-height:40px;
   flex:content;
   text-align : center;   
   /* position: fixed; */
   list-style-type: none;
   background-color: #b2dffc;
   /* float: left; */
   display : inline-flex;
  
   justify-content: space-evenly
}

.topmenubar {
   width: 100px;
   margin: 0 20px;
   font-size: 20px;
   font-weight: bold;
}

#blurlogin{
	display : flex;
	width: 1300px;
	height: 100px;
	margin: 25px auto;
	overflow: hidden;
	align-items : center;
}
#blurbUp { /* 메뉴바 위 광고 */
  /* position: absolute;
    margin : 0 auto; 
   left: calc(50% - 400px);
   top: 270px;*/
   height: 100px;
   width: 700px;
   float: left;
   margin: 25px auto 25px 300px;
   border: none;
   border-radius: 8px;
}
#loginbox {
   /* margin-top: 100px; */
   /* position: relative; */
   /* float : left; */
   /* left: 1500px; */
   border: 1px solid green;
   width: 177px;
   height : 50px;
   float: right;
   margin-top : 26px;
   flex: 0 0 10%;
   /* margin-right: 200px; */
   /* margin-left: 200px; */

   
 /*   margin-top : 100px;
   float: right;
   border: 1px solid green;
   margin-right: 200px; */
}
#blurbR {
	board : 1px solid red;
	float: right;
	width: 300px;
	height: 300px;
}
/* 
.topmenubar2 {
   display: none;
   position: absolute;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
} */

#freeboard {
	margin-right:  50px;
}



.topmenubar:hover>.topmenubar2 {
   display: block;
}




#loginID {
   float: left;
}

#loginPW {
   clear: left;
   float: left;
}

#loginBT {
   clear: left;
   float: left;
}

.join {
   clear: left;
}

.join>a {
   font-size: 10px;
}


.newBoardDiv{
	width: 800px;
	margin: 0 auto;
	border: 1px solid red;
	height: 200px; 
}
#footballDiv>table td{
	width: 200px;
}
.title{width: 500px;}

.title_over{
	display : block;
	width: 450px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.nickname{width: 50px;}
.regdate{width: 50px; }