<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncs.BoardMapper">
	<!-- ***************** search 관련 start ***************** -->
	<sql id="search">
		<choose>
			<when test="searchType=='football'.toString()">
				and title like CONCAT(CONCAT('%',#{keyword}),'%')
				or
				content like CONCAT(CONCAT('%',#{keyword}),'%'))
			</when>
			<when test="searchType=='baseball'.toString()">
				and title like CONCAT(CONCAT('%',#{keyword}),'%')
				or
				content like CONCAT(CONCAT('%',#{keyword}),'%'))
			</when>
			<when test="searchType=='basketball'.toString()">
				and title like CONCAT(CONCAT('%',#{keyword}),'%')
				or
				content like CONCAT(CONCAT('%',#{keyword}),'%'))
			</when>
			<when test="searchType=='tennis'.toString()">
				and title like CONCAT(CONCAT('%',#{keyword}),'%')
				or
				content like CONCAT(CONCAT('%',#{keyword}),'%'))
			</when>
			<when test="searchType=='bicycle'.toString()">
				and title like CONCAT(CONCAT('%',#{keyword}),'%')
				or
				content like CONCAT(CONCAT('%',#{keyword}),'%'))
			</when>
			<otherwise> ) </otherwise>
		</choose>
	</sql>

	<sql id="sportsFrom">
		<choose>
			<when test="searchType=='football'.toString() || sports == 'football'">
				from footballboard
			</when>
			<when test="searchType=='baseball'.toString() || sports == 'baseball'">
				from baseballboard
			</when>
			<when test="searchType=='basketball'.toString()">
				from basketballboard
			</when>
			<when test="searchType=='tennis'.toString()">
				from tennisboard
			</when>
			<when test="searchType=='bicycle'.toString()">
				from bicycleboard
			</when>
		</choose>
	</sql>
	<select id="searchRowCount" resultType="int">
			select count(*) <include refid="sportsFrom"></include> <![CDATA[ where ( seq> 0 ]]>
		<include refid="search"></include>
	</select>

	<select id="searchList" resultType="vo.STBoardVO">
		SELECT * FROM
		(select b.*, ROW_NUMBER() OVER(order by seq desc) rnum <include refid="sportsFrom"></include> b
			<![CDATA[ where seq > 0 ]]>
		<include refid="search"></include>
		where rnum between #{sno} and #{eno}
	</select>
	<!-- ***************** search 관련 end ***************** -->

	<!-- ***************** 야구 새글 등록 start ***************** -->
	<insert id="baseballInsert">
		insert into baseballboard values
	 	((select nvl(max(seq),0)+1 from baseballboard)
		,#{id}
		,#{nickname}
		,#{title}
		,#{content}
		,sysdate
		,#{team}
		,#{person}
		,#{local}
		,''
		,#{sports}
		,0
		,'')
	</insert>
	<!-- ***************** 야구 새글 등록 end ***************** -->
	<!-- ***************** 축구 새글 등록 start ***************** -->
	<insert id="footballInsert">
		insert into footballboard values
	 	((select nvl(max(seq),0)+1 from footballboard)
		,#{id}
		,#{nickname}
		,#{title}
		,#{content}
		,sysdate
		,#{team}
		,#{person}
		,#{local}
		,''
		,#{sports}
		,0
		,'')
	</insert>
	<!-- ***************** 축구 새글 등록 end ***************** -->
	
	<!-- *************************  매칭 모집 횟수 start ************************* -->
	<update id="boardLeaderUpdate">
	update stmember set leadermatching = leadermatching+1 where id = #{id}
	</update>
	
	<update id="memberpartyplay">
	update stmember set partyplay = partyplay+1 where id = (select matchingid from matchingboard where seq = #{seq} and matchingid = #{matchingid})
	</update>
	
	<delete id="partyplayD">
	delete matchingboard where seq = #{seq} and matchingid = #{matchingid} 
	</delete>
	
	
	<!-- *************************  매칭 모집 횟수 end ************************* -->
	
	<!-- ************************* 최신글 새로 고침   start  ***************************** -->
	<select id="baseballSelectList" resultType="vo.STBoardVO">
		select * from baseballboard order by seq desc
	</select>
	<select id="footballSelectList" resultType="vo.STBoardVO">
		select * from footballboard order by seq desc
	</select>
	<select id="basketballSelectList" resultType="vo.STBoardVO">
		select * from basketballboard order by seq desc
	</select>
	<select id="tennisSelectList" resultType="vo.STBoardVO">
		select * from tennisboard order by seq desc
	</select>
	<select id="bicycleSelectList" resultType="vo.STBoardVO">
		select * from bicycleboard order by seq desc
	</select>
	
	<!-- ************************* 최신글 새로 고침 end ***************************** -->
	
	<!-- ************************* board 수정 & 삭제 start ***************************** -->
	<update id="baseballUpdate">
		update baseballboard set title=#{title},team=#{team},person=#{person},local=#{local},content=#{content} where seq=#{seq}
	</update>
	
	<delete id="baseballDelete">
		delete from baseballboard where seq=#{seq}
	</delete>
	
	<update id="footballUpdate">
		update footballboard set title=#{title},team=#{team},person=#{person},local=#{local},content=#{content} where seq=#{seq}
	</update>
	
	<delete id="footballDelete">
		delete from footballboard where seq=#{seq}
	</delete>
	
	
	<!-- ************************* board 수정 & 삭제 end ***************************** -->
	
	<!-- **************************  매칭 start ****************************** -->
	<insert id="matchingInsert">
	insert into matchingboard values(#{seq},#{leaderid}, #{matchingid}, #{sports})
	</insert>
	
	<select id="matchingSelect" resultType="vo.STMatchingVO">
	select * from matchingboard where seq = #{seq}
	</select>

	<select id="idcheckSelect2" resultType="vo.STMatchingVO">
	select * from matchingboard where seq = #{seq} and matchingid = #{matchingid}
	</select>
	
	<update id="matchingUpdate">
	update stmember set matching = matching+1 where id = #{id}
	</update>
	<!-- **************************  매칭 end ****************************** -->
	<sql id="boardSelect">
	<choose>
		<when test="sports =='football' ">
		from footballboard
		</when>
		<when test="sports == 'baseball' ">
		from baseballboard
		</when>
	</choose>
	</sql>
	
	
	<select id="boardSelectOne" resultType="vo.STBoardVO">
		select * <include refid="boardSelect"></include> where seq=#{seq}
	</select>
	
	<!-- ************************* 댓글 입력 & 삭제 start ***************************** -->
	<select id="clist" resultType="vo.STCommentVO">
   		 select * from boardcomment where seq = #{seq} order by root
	</select>
	<select id="clistID" resultType="vo.STCommentVO">
   		 select id from boardcomment where seq = #{seq} order by root
	</select>
	
	<insert id="commentInsert" >
  		 insert into boardcomment values(
  		 #{seq}, (select nvl(max(root), 0)+1 from boardcomment where seq = #{seq}), #{id},#{nickname}, sysdate, #{recontent}, #{sports}, #{profile})
	</insert>
	
	<delete id="commentDelete">
   		delete boardcomment where seq = #{seq} and root = #{root}
	</delete>
	
	<!-- ************************* 댓글 입력 & 삭제 end ***************************** -->
	<select id="profileSelect" resultType="vo.STMemberVO">
		select * from stmember where id = #{id}
	</select>
	
	<select id="profileSelect2" resultType="vo.STBoardVO">
		select * from stmember where id = #{id}
	</select>
	
	<select id="profileSelectOne" resultType="vo.STMemberVO">
	select * from stmember where id = #{id}
	</select>
</mapper>