<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncs.MemberMapper">

	<insert id="insert">
		insert into stmember
		values(#{id},#{password},#{name},#{nickname}
		,#{email},#{birthd},#{gender},0,0,'',0)
	</insert>
	
	<select id="selectList" resultType="vo.STMemberVO">
		select * from stmember where id != 'admin' order by id
	</select>

	<select id="selectOne" resultType="vo.STMemberVO">
		select * from stmember where id=#{id}
	</select>
	
	<delete id="delete">
		delete from stmember where id=#{id}
	</delete>

	<sql id="detailSelect">
		<choose>
			<when test="sports == 'football' ">
				from footballboard
			</when>
			<when test="sports == 'baseball' ">
				from baseballboard
			</when>
			<when test="sports == 'basketball' ">
				from basketballboard
			</when>
			<when test="sports == 'tennis' ">
				from tennisboard
			</when>
			<when test="sports == 'bicycle' ">
				from bicycleboard
			</when>
			<when test="sports == '' ">
				from baseballboard
			</when>
		</choose>
	</sql>
	
	<select id="matchingTitle" resultType="vo.STBoardVO">
		select * <include refid="detailSelect"></include> where seq = #{seq} and sports = #{sports}
	</select>
	
	<update id="update">
		update stmember set password=#{password},name=#{name},nickname=#{nickname}
		,email=#{email},birthd=#{birthd},gender=#{gender},profile=#{profile} where id=#{id}
	</update>
	
	<update id="profileUpdate">
		update stmember set profile=#{profile} where id=#{id}
	</update>
	
	<update id="profileReple">
		update boardcomment set profile = #{profile} where id = #{id}
	</update>
	
	<select id="selectInfo" resultType="vo.STBoardVO">
	select * from stmember where id = #{id}
	</select>

</mapper>